{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block page_content %}

<div class="container">
    <h2>Generate Tournaments</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {% bootstrap_form form %}
    <div class="form-group col-md-4">
    	<p>Registered users</p>
        <ul class="list-group">
			{% for registration in registrations %}
            <li class="list-group-item">{{registration.user.email}}</li>
			{% endfor %}
        </ul>
    </div>
        <input class="btn btn-primary" type="submit" value="Generate">
    </form>
</div>
{% endblock page_content %}
