{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block page_content %}

<div class="container-fluid">

    <!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Welcome to Code Challenge!</h1>
<div style="white-space: pre">
    Hello again! we are very excited that you are here participating in our selection process. We want you to enjoy it as much as we do. The most important thing 
    is that you be constant and always try to improve yourself.

</div>
<div align='center'>
    <font color=031473>
    <em>
Be the change you wish to see in the world
<br>
- Mahatma Gandhi -
    </em>
    </font>
</div>
<div style="white-space: pre">
    Below we share relevant information for you.

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card" id="FaqBarHome" >
            <!-- Question 2 -->
            <a class="card-header" href="#" data-toggle="collapse" data-target="#answerTwo"
                aria-expanded="true" aria-controls="answerTwo">
                <span>About Code Challenge</span>
            </a>
            <div id="answerTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#FaqBarHome">
                <div class="bg-white py-2 collapse-inner rounded ml-3">
                    <a class="collapse-item">
                        Code Challenge is designed for the selection process of developers with junior profiles.
                        We are convinced that playing is one of the best ways to learn, and also to demonstrate your knowledge and skills while having fun enjoying the process.
                    </a>
                </div>
            </div>
            <!-- Question 3 -->
            <a class="card-header" href="#" data-toggle="collapse" data-target="#answerThree"
                aria-expanded="true" aria-controls="answerThree">
                <span>Documentation</span>
            </a>
            <div id="answerThree" class="collapse" aria-labelledby="headingTwo" data-parent="#FaqBarHome">
                <div class="bg-white py-2 collapse-inner rounded ml-3">
                    <a class="collapse-item">
                        All the information that you need to tackle this challenge you could find it in this 
                        <a href="https://docs.google.com/document/d/1s04fzts0zz034xa_yo-qOP29jNvznia9rnhm9dImXzI/edit?usp=sharing">
                            documentation
                        </a>.
                    </a>
                </div>
            </div>
            <!-- Question 4 -->
            <a class="card-header" href="#" data-toggle="collapse" data-target="#answerFour"
                aria-expanded="true" aria-controls="answerFour">
                <span>So, how you can play?</span>
            </a>
            <div id="answerFour" class="collapse" aria-labelledby="headingThree" data-parent="#FaqBarHome">
                <div class="bg-white py-2 collapse-inner rounded ml-3">
                    <a class="collapse-item">
                        To participate it is necessary to have a bot created. 
                        You will make a code for your bot to play against the bots of the other participants. 
                        If you go to 
                        <a href="{% url 'development:mybots' %}"> 
                            My Bots 
                        </a>
                        menu, you will see that you already have one created. 
                        This is your official bot whose name is your email username. 
                        Once you have your code written (which you can always improve), 
                        you can create challenges for other participants from 
                        <a href="{% url 'development:challenge' %}"> 
                            Challenge 
                        </a> 
                        menu and then check your results in 
                        <a href="{% url 'development:match_history' %}"> 
                            My Matches  
                        </a> 
                        menu.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock page_content %}