{% extends "base.html" %}

{% block page_content %}    
<div class="container">
    <h1>Match details</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
        {% for log in data %}
            <tr>
                <td>{{ log }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-row text-center">
        <button type="submit" class="btn btn-primary"><<</button>
        <button type="submit" class="btn btn-primary">>></button>
    </div>
</div>     


<hr>
{% endblock %}
