{% extends "base.html" %}


{% block page_content %}
<div class="container">
  <h1>My Matches</h1> 
  <div class="pre-scrollable">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr class="bg-primary text-white head-top">
          <th scope="col">Bot</th>
          <th scope="col">Score</th>
          <th scope="col">Winner</th>
          <th class="th-sm">Date</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        {% for match in object_list %}
        {% for player in match.players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.score }}</td>
            <td>{{ player.winner }}</td>
            {% if forloop.first %}
            <td>{{ match.match.date_match }}</td>
            <td><a href="{% url 'development:match_details' pk=match.match.id %}?page=1">view</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
{% endblock %}
