{% extends "base.html" %}

{% block page_content %}    
<div class="container">
    <h1>My Bots</h1>
    <div class="pre-scrollable">
        <table 
            class="table table-striped table-bordered table-sm">
          <thead>
            <tr class="bg-primary text-white head-top">
              <th>Name</th>
              <th>Token</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for bot in object_list %}
            <tr>
              <td width="21%">{{ bot.name }}</td>
              <td width="69%" class="text-break">{{ bot.token}}</td>
              <td width="25%" >
                <input id="{{bot.token}}" type="button" class="btn btn-primary" value="copy" onclick="copyToClickBoard(`{{bot.token}}`)">
              </td>
              <td>
                <form action = "{% url 'development:delete_bot' pk=bot.id %}" method = "post">{% csrf_token %}
                  {% if not forloop.first %}
                  <input type="submit" class="btn btn-secondary" value="delete">
                  {% endif %}
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <div class="col-12">
        <a class="btn btn-primary" href="{% url 'development:addbot' %}">Add new</a>
    </div>
    <script>
      function copyToClickBoard(data){
        navigator.clipboard.writeText(data);
        document.getElementById(data).value ="copied!"
        setTimeout(function(){
          document.getElementById(data).value ="copy"
        }, 2000);
      };
     </script>
 </div>


{% endblock %}
